.account_info{
  border-radius: 4px;
  border: 2px solid rgb(136, 157, 222);
  background-color: transparent; 
  padding: 5px;
}

.main_header{
  display: flex;
  vertical-align: middle;
}
.notification{

}